<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
        <logging>
            <log type="coverage-html" target="/tmp/TAU/report" lowUpperBound="35" highLowerBound="70"/>
            <log type="coverage-clover" target="/tmp/TAU/coverage.xml"/>
            <log type="coverage-php" target="/tmp/TAU/coverage.serialized"/>
            <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
            <log type="junit" target="/tmp/TAU/logfile.xml"/>
            <log type="testdox-html" target="/tmp/TAU/testdox.html"/>
            <log type="testdox-text" target="/tmp/TAU/testdox.txt"/>
        </logging>
    <testsuites>
        <!--
        <testsuite name="Feature Tests">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="CommandBus Integration Tests">
            <directory suffix="Test.php">./tests/Integration/CommandBus</directory>
        </testsuite>
        -->
        <testsuite name="ODBC Integration Tests">
            <directory suffix="Test.php">./tests/ODBC</directory>
        </testsuite>

        <testsuite name="Module Tests">
            <directory suffix="Test.php">./tests/Module</directory>
        </testsuite>
        <testsuite name="Entities for Administration Module Tests">
            <directory suffix="Test.php">./Modules/Administration/Tests/Entities</directory>
            <directory suffix="Test.php">./Modules/Administration/Tests/Commands</directory>
            <directory suffix="Test.php">./Modules/Administration/Tests/HttpController</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./TAU</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="DB_CONNECTION" value="tau_test"/>
    </php>
</phpunit>
