<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true">
        <logging>
            <log type="coverage-html" target="./reports/report" lowUpperBound="35" highLowerBound="70"/>
            <log type="coverage-clover" target="./reports/coverage.xml"/>
            <log type="coverage-php" target="./reports/coverage.serialized"/>
            <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
            <log type="junit" target="./reports/logfile.xml"/>
            <log type="testdox-html" target="./reports/testdox.html"/>
            <log type="testdox-text" target="./reports/testdox.txt"/>
        </logging>
    <testsuites>
        <!--
        <testsuite name="Feature Tests">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        -->
        <testsuite name="CommandBus Integration Tests">
            <directory suffix="Test.php">./tests/Integration/CommandBus</directory>
        </testsuite>
        <testsuite name="Module Integration Tests">
            <directory suffix="Test.php">./tests/Module</directory>
        </testsuite>
        <!--
        <testsuite name="ODBC Integration Tests">
            <directory suffix="Test.php">./tests/ODBC</directory>
        </testsuite>
        -->
        <testsuite name="Entities for Administration Module Tests">
            <directory suffix="Test.php">./Modules/Administration/Tests/Entities/Eloquent</directory>
            <directory suffix="Test.php">./Modules/Administration/Tests/Entities/ArrayRepository</directory>
            <directory suffix="Test.php">./Modules/Administration/Tests/Commands</directory>
            <directory suffix="Test.php">./Modules/Administration/Tests/HttpController</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist >
            <directory suffix=".php">./tests/Integration/CommandBus</directory>
            <directory suffix=".php">./tests/Integration/Providers</directory>
            <directory suffix=".php">./tests/Module</directory>
            <directory suffix=".php">./Modules/Administration/Tests/Entities/Eloquent</directory>
            <directory suffix=".php">./Modules/Administration/Tests/Entities/ArrayRepository</directory>
            <directory suffix=".php">./Modules/Administration/Tests/Commands</directory>
            <directory suffix=".php">./Modules/Administration/Tests/HttpController</directory>
        </whitelist>
        <blacklist >
            <directory suffix=".php">./vendor</directory>
            <directory suffix=".php">./tauproject</directory>
            <directory suffix=".php">./tests/ODBC</directory>
        </blacklist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="MAIL_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="tau_test"/>
    </php>
</phpunit>
